In [3]:
import pandas as pd

In [25]:
df = pd.read_csv('minneapolis_st_paul_weather_data.csv')

In [34]:
df.dtypes #these are all strings for some reason
df['Maximum Temperature degrees (F)'] =df['Maximum Temperature degrees (F)'].astype(float)

ValueError: could not convert string to float: 'M'

In [26]:
df.columns

Index(['Date', 'Maximum Temperature degrees (F)',
       'Minimum Temperature degrees (F)', 'Precipitation (inches)',
       'Snow (inches)', 'Snow Depth (inches)'],
      dtype='object')

In [21]:
df['Date']
df[['Date', 'Snow (inches)']]

             Date Snow (inches)
0      2020-12-20             T
1      2020-12-19          0.00
2      2020-12-18             T
3      2020-12-17          0.00
4      2020-12-16          0.00
...           ...           ...
54771  1871-01-05             M
54772  1871-01-04             M
54773  1871-01-03             M
54774  1871-01-02             M
54775  1871-01-01             M

[54776 rows x 2 columns]

In [22]:
#how to get rows
df.iloc[0] #integer location. no labels allowed. First row
df.iloc[[0,1],2] # first 2 rows with the 3rd column
df.iloc[0:1,2] #same, but sliced

0    20.0
1    20.0
Name: Minimum Temperature degrees (F), dtype: object

In [23]:
df.loc[[0,1], 'Date'] #first 2 rows date
#can pass multiple columns by passing list of strings

0    2020-12-20
1    2020-12-19
Name: Date, dtype: object

In [27]:
df['Maximum Temperature degrees (F)'].value_counts() #neat method to show how powerful pandas can be

80.0     1044
78.0     1010
82.0      997
76.0      956
81.0      936
         ...
103.0       4
106.0       4
-19.0       3
108.0       1
-20.0       1
Name: Maximum Temperature degrees (F), Length: 128, dtype: int64

In [28]:
#Indexing
#apparently setting an index is a thing you wanna do sometimes
# df.set_index('Date', inplace=True) Set the index to a column name, inplace defaults to false. so you would need to assign to new df var. inplace = true does it in place
# this makes rows able to be ID'd like columns using loc
#can always use df.reset_index(inplace=True) if you need to
#can also do this on read with parameter index_col=''

In [38]:
#Filtering
filt = df['Maximum Temperature degrees (F)'] == 80 #gives a column of booleans
df[filt] # df.loc[filt] also works. more powerful ex df.loc[filt, 'date']
# & for AND | for OR ~ for opposite of filter

Empty DataFrame
Columns: [Date, Maximum Temperature degrees (F), Minimum Temperature degrees (F), Precipitation (inches), Snow (inches), Snow Depth (inches)]
Index: []